/.__assets__
/.config
/.husky
/demo
/demo-desktop
/dist
/node_modules
/readme
/scripts
/test
/typings
/src/assets
/src/assets_src
/src/dependJS
/src/img_set
/src/test
/src/testData

.cz-config.js
.eslintrc.js
.lintstagedrc.js
commitlint.config.js
.prettierrc.js
jest.config.js
gulpfile.js
webpack.config.js